@model List<shoponline.Models.CartItemModel>

<div class="info-cart">
    <a href="/gio-hang" title="Thông ting giỏ hàng" rel="nofollow">
        Giỏ hàng của bạn
    </a>
    <p>
        Có: <b>@Model.Count</b> Sản phẩm
    </p>
</div>
